body {
    background: blue;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
}

.topNav li {
    display: none;
}

.topNav .collapsedNav {
    display: block;
}

/* if responsive is on */
.topNav.responsive {
    position: relative;
}
.topNav.responsive li.collapsedNav {
    position: absolute;
    right: 0;
    top: 0;
}
.topNav.responsive li {
    float: none;
    display: block;
    text-align: left;
}
/*---------------------*/